:root {
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --wblue-pastel: #b3e5fc;
  --dblue-pastel: #7ca4d4;
  --pink-pastel: #f8bbd0;
  --green-pastel: #9ADBA8;
  --yellow-pastel: #fff9c4;
  --white-pastel: #fdfdfd;
  --text-color: #333333;
  --text-color-light: #33333355;

  color: var(--text-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  list-style: none;
  
}

* input[type='number'] {
  -moz-appearance: textfield;
}

* input[type='number']::-webkit-outer-spin-button,
* input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

body {
  background-color: var(--wblue-pastel);
}

.backToHomeLink{
  text-transform: uppercase;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  gap: .2rem;
  background-color: var(--white-pastel);
  padding: 1rem;
  border-radius: .5rem;
}