:root {
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  

  --wblue-pastel : #B3E5FC;
  --pink-pastel : #F8BBD0;
  --green-pastel : #C8E6C9;
  --yellow-pastel : #FFF9C4;
  --white-pastel : #FDFDFD;
  --text-color : #333333;
  --text-color-light : #33333355;


  color: var(--text-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: var(--text-color);
}

body{
  background-color: var(--wblue-pastel);
}