.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}

.filters {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: var(--dblue-pastel);
  /* background: rgb(124, 164, 212); */
  background: linear-gradient(
    180deg,
    var(--dblue-pastel) 50%,
    var(--wblue-pastel) 100%
  );
}

.pagesContainer{
  align-self: center;
  display: flex;
  gap: 1.5rem;
}

.pagesContainer .pageBtn{
  border: none;
  padding: .75rem 1rem;
  border-radius: 5px;
  font-size: 1em;
  font-weight: 600;
  background-color: var(--pink-pastel);
  color: var(--white-pastel);
}

.pagesContainer .pageBtn.active{
  background-color: #f69dbb;
  transform: scale(1.3);
  font-weight: 700;
}