# Logs
logs
*.log
npm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Dependencias instaladas por npm
/node_modules

# Archivo de configuración de entorno
/.env
package-lock.json

# Archivos de configuración específicos de tu entorno de desarrollo local
config/local.js

# Archivos de respaldo o temporales
/*.bak
/*.tmp
/*.swp

# Otros archivos y carpetas generados durante la ejecución del proyecto
build
dist
dist-ssr
*.local