.image label {
  font-weight: 500;
}

.image {
  grid-column: 1/3;
  width: 100%;
  height: 330px;
  display: flex;
  flex-direction: column;
}

.image input {
  display: none;
}

.image .uploadFile {
  margin: 1rem 0 0.5rem;
  aspect-ratio: 4/3;
  width: 20rem;
  font-size: 1.2em;
  align-self: center;
  border: 5px dashed var(--yellow-pastel);
  background-color: #ffffff3b;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.image .uploadFile svg {
  font-size: 2em;
  color: var(--yellow-pastel);
}

.image .uploadFile .selectedImage {
  aspect-ratio: 4/3;
  width: 18rem;
}

.image .deleteImageBtn {
  font-size: 0.8em;
  align-self: center;
  padding: 0.25rem 0.5em;
  border: none;
  letter-spacing: 0.05em;
  background-color: var(--pink-pastel);
  color: var(--white-pastel);
}

.image .deleteImageBtn:hover {
  background-color: #f69dbb;
}

span.errorMsg {
  color: #d30000;
  font-weight: 500;
  font-size: 0.7em;
  align-self: center;
  display: block;
}
